.main{
	float: left;
	width: 80%;
}
.main-menu {
	margin-left: 50px;
}
.main-menu__item{
	display: inline-block;
    font-family: 'Roboto' , Arial , sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-right: 10px;
}
.main-menu__link {
	text-decoration: none;
}
.main-menu__item:after{
   content: "/";
   display: inline;
}
.main-menu__link:hover{
  font-size: 18px;
}
/*.info-img{
	width: 636px;
}*/
.info__list{
	list-style-position: inside;
	padding:0px;
	font-family: 'Roboto' , Arial , sans-serif;
	font-style: italic;
	font-weight: 500;
}
.info__item{
	list-style-type: disc;
}

.manager-list__list{
	padding-left: 0px;
}
.manager-list__item{
	margin-bottom: 15px;
}
.manager-list__image{
	display: inline-block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin-right:5px;
}
.manager-list__text{
	display: inline-block;
	width: 600px;
}
.manager-list__image , .manager-list__text{
	vertical-align: middle;
}
.manager-list__text-date{
	font-weight: bold;
}
.manager-list__text-desc{
	border-bottom: 1px solid #B2AEAE;
}
.manager-list__item:last-child :last-child{
	border-bottom: none;
}

